/* .bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.max-w-7xl {
  max-width: 80rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}
.h-16 {
  height: 4rem;
}
.flex {
  display: flex;
}

.relative {
  position: relative;
}

.left-0 {
  left: 0px;
}
.inset-y-0 {
  top: 0px;
  bottom: 0px;
}
.absolute {
  position: absolute;
}

.flex-1 {
  flex: 1 1 0%;
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.p-2 {
  padding: 0.5rem;
}
.rounded-md {
  border-radius: 0.375rem;
}

.inline-flex {
  display: inline-flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}
.block {
  display: block;
} */