<!-- <figure class="bg-slate-100 rounded-xl p-8 " *ngFor="let product of productList ">
  <img class="w-24 h-24 rounded-full mx-auto" [src]="product.image" alt="" width="384" height="512">
  <div class="pt-6 space-y-4">
    <blockquote>
      <p class="text-lg font-medium">
        {{product.description}}
      </p>
    </blockquote>
    <figcaption class="font-medium">
      <div class="text-sky-500 dark:text-sky-400">
        {{product.title}}
      </div>
      <div class="text-slate-700 dark:text-slate-500">
        {{product.price}}
      </div>
    </figcaption>
  </div>
</figure> -->
<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">All products</h2>
    <div class="grid grid-cols-3 gap-4">
      
    </div>
    <div class="mt-6 grid grid-cols-2 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div *ngFor="let product of productList ">
          <div class="group relative">
            <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none shadow">
              <img [src]="product.image" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700">
                  <a href="#">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {{product.title}}
                  </a>
                </h3>
                <p class="mt-1 text-sm text-gray-500">{{product.category}}</p>
              </div>
              <p class="text-sm font-medium text-gray-900">${{product.price}}</p>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
<!-- <div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Products</h2>

    <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
      <a href="#" class="group" *ngFor="let product of productList ">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
          <img [src]="product.image" alt="" class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">
          {{product.title}}
        </h3>
        <p class="mt-1 text-lg font-medium text-gray-900">
          ${{product.price}}
        </p>
      </a>
    </div>
  </div>
</div> -->


